.header {
  width: 100%;
  height: 80px;
  background: #131921;
  display: flex;
  position: fixed;
  z-index: 1;
}
.logo {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 45px;
}

.searchbar {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchcomp {
  width: 90%;
  height: 30px;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}
.searchcomp input {
  width: 92%;
  height: 100%;
  border: 0;
  font-size: 15px;
  padding-left: 7px;
}
.searchcomp button {
  width: 8%;
  height: 100%;
  border: 0;
  background-color: #e4a655;
}
.searchbar button:hover {
  background-color: #ffb048;
  font-size: 15px;
  color: white;
}

.navbar {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}
@media only screen and (max-width: 960px) {
  .searchbar{
    width: 30%;
  }
  .navbar {
    width: 40%;
  }
  .searchcomp button {
    width: 15%;
  }
}
@media only screen and (max-width: 800px) {
  .searchcomp{
    width: 40px;
    height: 40px;
    position: fixed;
    top:100px;
    right: 40px;
    border-radius: 100%;
    overflow:hidden;
  }
  .searchcomp button {
    width: 100%;
  }
  .searchcomp input{
    display: none;
  }
  .searchcomp:hover{
    width: 300px;
    border-radius: 5px;
    
  }
  .searchcomp:hover button{
    width: 15%;
  }
  .searchcomp:hover input{
   display: block;
  }
  
  .navbar {
    width: 50%;
  }
  .logo {
    width: 50%;
  }
  
}
