.header {
  width: 100%;
  height: 80px;
  background: #131921;
  display: flex;
  position: fixed;
  z-index: 1;
}
.logo {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 45px;
}

.searchbar {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchcomp {
  width: 90%;
  height: 30px;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}
.searchcomp input {
  width: 92%;
  height: 100%;
  border: 0;
  font-size: 15px;
  padding-left: 7px;
}
.searchcomp button {
  width: 8%;
  height: 100%;
  border: 0;
  background-color: #e4a655;
}
.searchbar button:hover {
  background-color: #ffb048;
  font-size: 15px;
  color: white;
}

.navbar {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}
.container {
  display: none;
  cursor: pointer;
  padding-top: 20px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color:#e4a655 ;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.sideMenu{
  width:100%;
  height: 40px;
  display: none;
  transition: 1s;
  justify-content: space-around;
  padding-top: 5px;
  position: absolute;
  top:80px;
  right: 0;
}
.container:hover  .sideMenu{
  display: flex;
  
}








@media only screen and (max-width: 960px) {
  .searchbar{
    width: 30%;
  }
  .navbar {
    width: 40%;
  }
  .searchcomp button {
    width: 15%;
  }
}
@media only screen and (max-width: 800px) {
  .searchbar{
    width: 10px;
  }
  .searchcomp{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom:10px;
    right: 40px;
    border-radius: 100%;
    overflow:hidden;
  }
  .searchcomp button {
    width: 100%;
  }
  .searchcomp input{
    display: none;
  }
  .searchcomp:hover{
    width: 300px;
    border-radius: 5px;
    
  }
  .searchcomp:hover button{
    width: 15%;
  }
  .searchcomp:hover input{
   display: block;
  }
  
  .navbar {
    width: 50%;
  }
  .logo {
    width: 50%;
  }
  
}


@media only screen and (max-width: 600px) {
  .searchcomp{
    right: 5px;
  }
  .logo {
    width: 80%;
  }
  .navbar {
   display: none;
  }
  .container{
    display: inline-block;
  }
  
}
@media only screen and (max-width: 420px) {
  
  .logo {
    font-size: 33px;
  }
  
  
}
