.cover {
  width: 100%;
  min-height: 800px;
  background-color: rgba(195, 177, 177, 0.493);
  display: flex;
  justify-content: center;
  position: absolute;
  top: 80px;
  padding-bottom: 30px;
}
.registerForm {
  width: 500px;
  height: 500px;
  background-color: white;
  margin-top: 20px;
  position: relative;
}
.registerForm h2 {
  font-size: 32px;
  text-align: center;
}
.registerForm button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
  margin: auto;
}
.registerForm .inputs {
  width: 80%;
  height: 400px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 19px;
}
.registerForm .inputs tr td {
  position: relative;
}
.registerForm .inputs p {
  font-size: 15px;
  position: absolute;
  top: 29px;
  right: 0;
}
.registerForm .inputs input {
  width: 200px;
  height: 30px;
  padding-left: 10px;
  border: 1px solid #e4a655;
}
.fa-check-circle {
  position: relative;
  left: 190px;
  top: 90px;
}
.sucP {
  position: relative;
  left: 40px;
  top: 110px;
  font-size: 20px;
}
