.signInForm {
  width: 500px;
  height: 200px;
  background-color: white;
  margin-top: 20px;
  padding: 10px;
  position: relative;
}
.signInForm h2 {
  font-size: 32px;
  text-align: center;
}
.signInForm .inputs {
  width: 80%;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 19px;
}
.signInForm .inputs input {
  width: 200px;
  height: 30px;
  padding-left: 10px;
  border: 1px solid #e4a655;
}
.signInForm .inputs tr td {
  position: relative;
}
.signInForm .inputs p {
  font-size: 15px;
  position: absolute;
  top: 13px;
  right: 0;
}
.signInForm button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
  margin: auto;
}
